<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | InShare - File Sharing Made Easy</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->

    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">



</head>

<body>
    <!-- <img src="/img/logo.png" alt="Inshare logo" class="logo"> -->
    <input id="fileName" value="<%=fileName%>" />
    <% console.log("download is " , password , password.length ) %>
    <section class=" download">
        <img class="download__icon" src="/img/download-sd.svg" alt="inshare-download">
        <% if(locals.error){ %>
            <h4>
                <%= locals.error %> 😏
            </h4>
            <%} else {%>

                <!--  ---------------------------------------------------------------------- -->

                <h2>Your file is ready to download</h2>
                <p>Link expires in 24 hours</p>
                <div class="download__meta">
                    <h4>
                        <%= fileName %>
                    </h4>
                    <small>
                        <%= parseInt(fileSize/1000) %> KB
                    </small>
                </div>
                <% if( password.length> 0 ){ %>
                    <!-- --------------------------------------------------------- -->

                    <div id="passwordVerification">

                        <div class="email-container">
                            <form id="verifyPassword" action="">
                                <div class="filed">
                                    <label for="verify">Your Password </label>
                                    <input required name="password" id="verify" value="">
                                </div>
                                <button type="submit" id="btnSubmit">Verify</button>
                            </form>

                        </div>


                        <!-- <button type="submit" id="btnSubmit">Send</button> -->
                    </div>


                    <!-- ------------------------------------------------------------ -->

                    <%} else {%>


                        <div class="send-btn-container">
                            <a href="<%= downloadLink %>">Download file</a>
                        </div>

                        <% }%>

                            <!-- <div class="first"> -->

                            <!-- </div> -->









                            <div id="downloadLink" class="send-btn-container">
                                <a href="<%= downloadLink %>">Download file</a>
                            </div>
                            <div id="wrongPassword" class="send-btn-container">
                                <a href="#">Sorry! Wrong Password</a>
                            </div>


                            <!-- ------------------------------------------------------------------------------------------ -->
                            <%}%>


                                <script src="/setting.js"></script>

</body>

</html>